POSTGRES_DB=ruankao
POSTGRES_USER=ruankao
POSTGRES_PASSWORD=replace-with-a-random-secret
POSTGRES_DATA_DIR=/opt/ruankao/data/postgres
STORAGE_DATA_DIR=/opt/ruankao/data/storage
STORAGE_PUBLIC_BASE_URL=http://43.143.201.211/storage
SERVER_PORT=8080
AI_DAILY_REQUEST_LIMIT=20
